<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiworker.bcineuroskyservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk    android:minSdkVersion="15" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:background="@android:color/transparent"  >
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:background="@android:color/transparent"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
        	android:name=".AppsActivity"
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait" 
        	android:background="@android:color/transparent"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.MainActivity" />
	    </activity> 
        
        
        <activity
        	android:name=".ProcessingToroid"
        	android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"  
            android:background="@android:color/transparent"
        	android:label="@string/app_name"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.AppsActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.AppsActivity" />
	    </activity>
	    
        <activity
        	android:name=".ProcessingWave"
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait" 
        	android:background="@android:color/transparent"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.AppsActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.AppsActivity" />
	    </activity>
	    
        <activity
        	android:name=".ProcessingAttVividF"
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait" 
        	android:background="@android:color/transparent"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.AppsActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.AppsActivity" />
	    </activity>
	    
        <activity
        	android:name=".ProcessingNewtorkGame"
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait" 
        	android:background="@android:color/transparent"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.AppsActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.AppsActivity" />
	    </activity>
           
        <activity
        	android:name=".ProcessingRNDgame"
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name"
        	android:screenOrientation="portrait" 
        	android:background="@android:color/transparent"
        	android:parentActivityName="com.aiworker.bcineuroskyservice.AppsActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.aiworker.bcineuroskyservice.AppsActivity" />
	    </activity>
        
        
        <service android:enabled="true"
            	 android:name=".eegService" />
        
    </application>

</manifest>
